cell, line, code, content, result {
    display: block;
}

code {
    white-space: pre;
}

cell > code:focus,
line > code:focus,
line > content:focus {
    outline: none;
}

line + line,
cell + line,
line + cell,
cell + cell {
    margin-top: 1rem;
}

cell {
    overflow: hidden;
    border-radius: 3px;
}

cell > code,
cell > result {
    padding: 0.5rem;
}

cell > code {
    background: hsla(0, 0%, 100%, 0.15);
}

cell > result:empty {
    display: none;
}

cell > result {
    background: hsla(0, 0%, 100%, 0.15);
    margin-top: 1px;
}

cell > result.error {
    background: hsla(0, 100%, 70%, 0.15)
}

/* do not display code for a line that has content */
/* display code when in raw mode */
line:not(.raw) > content + code {
    display: none;
}

/* do not display content when in raw mode */
line.raw > content {
    display: none;
}

line[format='header 1'] { font-size: 4.0rem; }
line[format='header 2'] { font-size: 3.5rem; }
line[format='header 3'] { font-size: 3.0rem; }
line[format='header 4'] { font-size: 2.5rem; }
line[format='header 5'] { font-size: 2.0rem; }
line[format='header 6'] { font-size: 1.5rem; }